:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.title-hero {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.title-2,
.title-3 {
  color: var(--title-text-color);
}
.title-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.title-3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Логотип */
.logo {
  font-family: "Raleway";
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1, 2;
  letter-spacing: 0.03em;
  text-align: left;
}
.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-text-color);
}
.logo-white {
  color: var(--primary-white-color);
}
/* Стилізація тексту */
.text-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0, 17;
  letter-spacing: 0.03em;
}
.text-team {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Хедер */
.header {
  background-color: var(--primary-white-color);
}

/* Навигація */
.nav-item {
  color: var(--title-text-color);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}
/* Укритий заголовок */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.team-name {
  text-align: center;
}

/* Контакт-лист */
.contact-item {
  color: var(--title-text-color);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}
/* Секция-герой */
.section-hero {
  background-color: #2f303a;
}
.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}

/* Футер */
.footer {
  background-color: #2f303a;
}

/* Адреса */
.adress-map {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contact-item {
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contact-item-header {
  color: var(--primary-text-color);
}
.contact-item-header:hover,
.contact-item-header:focus {
  color: var(--accent-color);
}
/* Прибираю точки в списках */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.current {
  color: var(--accent-color);
}
/* мейн Портфоліо */
.page-2-title {
  color: var(--title-text-color);
  font-family: "Roboto";

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.page-2-text {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 9;
  letter-spacing: 0.03em;
}
.adress-link {
  font-style: normal;
}
/* Кнопки портфоліо */
.button-list {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-list:hover,
.button-list:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
